
body {
    background-image: url("../images/textured_paper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #e9e5e5;
}

.container {
    background-image: url("../images/textured_paper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: lightgray;
    font-family: Arial, Helvetica, Helvetica, sans-serif;
    clear: both;
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    padding: 40px, 0px, 40px, 20px;
    border-bottom: solid;
    border-color: #cccccc;
    margin-bottom: 40px;
    font-family: 'Georgia', Times, Times, serif;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-size: 30px;
    font-weight: bold;
    float: left;
    position: relative;
    padding: 10px;
}

nav {
    color:#cccccc;
    float: right;
    position: relative;
    display: flex;
    margin-top: 25px;
}

a:link, a:visited {
    color:#4aaaa5;
    text-decoration: none;
}

a:hover {
    color: rgb(230, 178, 188);
    text-decoration: none;
}

a:active {
    color: lightskyblue;
    text-decoration: none;
}

.row {
    background-color: #ffffff;
    padding: 10px;
}

#contact {
    border-bottom: solid;
    border-color: #cccccc;
}

#contact h2 {
    background-color: white;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0px 0px 10px;
}

form {
    color: grey;
    padding-left: 10px;
    padding-bottom: 10px;
}

#entireContactForm {
    padding-left: 10px 0px 0px 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    font-size: 8px;
    color: black;
    text-align: center;
    color: #ffffff;
}

button {
    background-color: #4aaaa5;
    color: #ffffff;
}

textarea {
    width: 500px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

@media only screen and (max-width: 800px) {

    #header-row {
        margin: 10px 0px 0px 10px;
    }

    h1 {
        background-color: #4aaaa5;
        color: white;
        font-size: 30px;
        font-weight: bold;
        float: none;
        width: auto;
        padding: 0px 0px 0px 20%;
    }

    nav {
        color:#cccccc;
        float: right;
        position: relative;
        display: flex;
        margin-top: 10px;
        padding: 0px 27% 0px 0px;
    }

    #contact {
        margin: 0px 0px 0px 0px;
    }

    #contact h2 {
        background-color: white;
        color: #4aaaa5;
        font-size: 30px;
        font-weight: bold;
        float: left;
        position: center; 
        padding: 0px 0px 0px 35%;
    }

    form {
        background-color: #ffffff;
        padding: 20px 20px 60px 20px;
        margin: 0px 0px 10px 0px;
    }

    #contactInfoRow {
        margin: 0px 0px 10px 0px;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #666666;
        border-top: 8px solid #4aaaa5;
        padding: 20px;
        font-size: 8px;
        color: black;
        text-align: center;
        color: #ffffff;
        margin-top: 10px;
    }
}