body {
    background-image: url("../images/textured_paper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #e9e5e5;
}

.container {
    background-image: url("../images/textured_paper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: lightgray;
    font-family: Arial, Helvetica, Helvetica, sans-serif;
    clear: both;
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    padding: 40px, 0px, 40px, 20px;
    border-bottom: solid;
    border-color: #cccccc;
    margin-bottom: 40px;
    font-family: 'Georgia', Times, Times, serif;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-size: 30px;
    font-weight: bold;
    float: left;
    position: relative;
    padding: 10px;
}

nav {
    color:#cccccc;
    float: right;
    position: relative;
    display: flex;
    margin-top: 25px;
}

a:link, a:visited {
    color:#4aaaa5;
    text-decoration: none;
}

a:hover {
    color: rgb(230, 178, 188);
    text-decoration: none;
}

a:active {
    color: lightskyblue;
    text-decoration: none;
}

.row {
    background-color: #ffffff;
    padding: 10px;
}


#portfolio {
    border-bottom: solid;
    border-color: #cccccc;
}

#portfolio h2 {
    background-color: white;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    float: left;
    position: relative;
    padding: 10px 0px 0px 10px;
}

#projectHolderBox {
    background-color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#projectLink {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    font-size: 8px;
    color: black;
    text-align: center;
    color: #ffffff;
}

.col-md-4 img {
    display: block;
    width: 100%
}

.col-md-4 p {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 6px;
    position: relative;
    top: -50px;
    text-align: center;
}

@media only screen and (max-width: 800px) {

    #header-row {
        margin: 10px 0px 0px 10px;
    }

    h1 {
        background-color: #4aaaa5;
        color: white;
        font-size: 30px;
        font-weight: bold;
        float: none;
        width: auto;
        padding: 0px 0px 0px 20%;
    }

    nav {
        color:#cccccc;
        float: right;
        position: relative;
        display: flex;
        margin-top: 10px;
        padding: 0px 27% 0px 0px;
    }

    #portfolio {
        margin: 0px 0px 0px 0px;
    }

    #portfolio h2 {
        background-color: white;
        color: #4aaaa5;
        font-size: 30px;
        font-weight: bold;
        float: left;
        position: center; 
        padding: 0px 0px 0px 35%;
    }

    #projectHolderBox {
        background-color: #ffffff;
        padding: 20px 20px 60px 20px;
        margin: 0px 0px 10px 0px;
    }

        footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #666666;
        border-top: 8px solid #4aaaa5;
        padding: 20px;
        font-size: 8px;
        color: black;
        text-align: center;
        color: #ffffff;
        margin-top: 10px;
    }
}